* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

button {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    position: relative;
    overflow: hidden;
}

#canvas {
    overflow: hidden;
}

/* ======================== OPTIONS start ========================  */

.options {
    width: 200px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -60%);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 2px solid gainsboro;
    border-radius: 5px;

    padding: 10px;
    background-color: white;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.options-color {
    display: flex;
    flex-direction: column;
}

.option-btn {
    background-color: white;
    border: 2px solid black;
    padding: 6px;
    border-radius: 5px;
}

.option-btn.current-width {
    border: 2px solid lightblue;
    font: italic;
}

/* ======================== OPTIONS end ========================  */


/* ======================== COLOR PICKERS start ======================== */

.color-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.color-container input {
    width: 100px;
    padding: 8px 10px;
}

.color-picker {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: black;
}

#stroke-color-picker {
    background-color: rgb(95, 61, 196);
}

.color-picker-input {
    border: 1px solid lightgray;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 7px;
}

.color-picker-input input {
    border: none;
    outline: none;
}

.color-list {
    position: absolute;
    left: 30px;
    top: -2px;
    border: 2px solid pink;
    background-color: white;
    z-index: 10000;

    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 4px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.color-item {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: cadetblue;
}
/* ======================== COLOR PICKERS end ======================== */


/* ======================== TRAILER start ======================== */

.trailer {
    width: 15px;
    height: 15px;
    border-radius: 100%;

    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;

    pointer-events: none;
}

/* ======================== TRAILER end ======================== */



.width-options input {
    width: 100%;
}

.cursor-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
}

.cursor-item {
    cursor: pointer;
}

.btn {
    position: relative;
    background-color: inherit;
    border: none;
    outline: none;
    font-weight: bold;
}

/* options */

/* ======================== ÿ»–»Õ¿ start ========================  */

.line-width-variants {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.line-width-variants > * {
    flex: 1 1 0;
}

/* ======================== ÿ»–»Õ¿ end ========================  */


/*  ======================== œ–Œ«–¿◊ÕŒ—“‹ start ======================== */

#input-opacity {
    width: 100%;
}

/*  ======================== œ–Œ«–¿◊ÕŒ—“‹ end ======================== */


.modes-list, .shape-list {
    flex-wrap: wrap;
}



.shape-btn {
    background-color: white;
    border: 2px solid black;
    padding: 6px;
    border-radius: 5px;
}

.btn-icon {
    pointer-events: none;
    width: 20px;
    height: 100%;
}

.top-btn {
    background-color: white;
    border: 2px solid black;
    padding: 6px;
    border-radius: 5px;
}

/* ======================== MODES start ======================== */

.modes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.15rem;
}

.mode-btn {
    background-color: white;
    border: 2ps solid black;
    border-radius: 7px;
    aspect-ratio: 1 / 1;
    font-size: 0.9rem;

    cursor: pointer;

    transition: border 200ms ease;
}

.mode-btn:hover {
    border: 2px solid lightgray;
}

.active {
    background-color: rgb(189, 212, 255);
    
}

/* ======================== MODES end ======================== */
